h3 Welcome to your dashboard
  ul(class="nav nav-pills pull-right")
    li!= user.username
    li
      a(href="/app") Dashboard
    li
      a(href="/logout") Logout
    li
      a(href="/me") My account
    li
      a(href="/me/edit") Edit Account Informations
    li
      a(href="/me") Change Password
