.container-narrow
  .masthead
    ul(class="nav nav-pills pull-right")
      li
        a(href="/") Home
      li
        a(href="/login") Login
      li
        a(href="/register") Register
    h3(class="muted") Product Landing Page
    hr
    div(class="jumbotron")
      h1 My great product
      p(class="lead") Build with Express Users and Jade
