{% extends "userLayout.html" %}

{% block title %}Login{% endblock %}

{% block expressUserContent  %}
<h3>Login</h3>
{% for error in errors.globals %}
<p>{{error}}</p>
{% endfor %}
<form action="/login" method="POST">
    {% for error in errors.fields.username %}
    <p>{{error}}</p>
    {% endfor %}
    <p>
        <label for="username">Email:</label>
        <input type="text" name="username" value="{{username}}" />
    </p>
    {% for error in errors.fields.password %}
    <p>{{error}}</p>
    {% endfor %}
    <p>
        <label for="password">Password:</label>
        <input type="password" name="password" />
    </p>
    <p>
        <input type="submit" value="Go" />
    </p>
</form>
{% endblock %}
