{% extends "userLayout.html" %}
{% import "forms.html" as forms %}

{% block expressUserTitle %}Login{% endblock %}

{% block expressUserContent  %}
<h3>Login</h3>

{{ forms.globalErrors(errors.globals) }}

<form action="/login" method="POST">

    {{ forms.field("username", label="Username:", value=user.username, errors=errors.fields.username) }}
    {{ forms.field("password", label="Password:", type="password", errors=errors.fields.password) }}

    <p>
        <input type="submit" value="Go" />
    </p>
</form>
{% endblock %}
