{% extends "userLayout.html" %}
{% import "forms.html" as forms %}

{% block expressUserTitle %}Update Password{% endblock %}

{% block expressUserContent  %}
<h3>Change password.</h3>

{{ forms.globalErrors(errors.globals) }}

<form action="/me/password" method="POST">
    <input type="hidden" name="_method" value="PUT">

    {{ forms.field("password", type="password", label="New Password:", errors=errors.fields.password) }}
    {{ forms.field("password_repeat", type="password", label="New Password (again):", errors=errors.fields.password_repeat) }}

    <p>
        <input type="submit" value="Go" />
    </p>
</form>
{% endblock %}
