{% extends "userLayout.html" %}

{% block title %}Update password{% endblock %}

{% block expressUserContent  %}
<h3>Request a password reset.</h3>
{% for error in errors.globals %}
<p class="alert error">{{error}}</p>
{% endfor %}
<form action="/lost-password" method="POST">
    {% for error in errors.fields.username %}
    <p>{{error}}</p>
    {% endfor %}
    <p>
        <label for="username">Username or email:</label>
        <input type="text" name="username" value="{{username}}" />
    </p>
    <p>
        <input type="submit" value="Go" />
    </p>
</form>
{% endblock %}
