{% extends "userLayout.html" %}
{% import "forms.html" as forms %}

{% block expressUserTitle %}Provide your password again{% endblock %}

{% block expressUserContent  %}
<h3>Provide your password again.</h3>

{% if message.length %}
<p>{{message}}</p>
{% endif %}

{{ forms.globalErrors(errors.globals) }}

<form action="/me/password" method="POST">
    <input type="hidden" name="_method" value="PUT">

    {{ forms.field("password", type="password", label="Password:", value=password, errors=errors.fields.password) }}

    <p>
        <input type="submit" value="Go" />
    </p>
</form>
{% endblock %}
